{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Agenda</title>
  {% include 'partials/_head.html' %}
</head>

<body>

  <!-- Navigation -->
  {% include 'partials/_navbar.html' %}
  

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br><br>
        <form action="{% url 'search' %}" method="get">
          <div class="form-group">
            <div class="col-4">
              <input type="search" name="search_for" id="search-input" value="{{ request.GET.search_for }}" placeholder="Buscar..." class="form-control">
            </div>
          </div>  
        </form>
        {% block body %}

        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>